@import url(https://fonts.googleapis.com/css?family=Audiowide);
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

*
	padding 0px
	margin 0px

body, html
	width 100%
	padding 0px
	margin 0px
	text-align center
	// background url('../pic/clouds2.jpg') no-repeat center center fixed
	background-color #1E1E1E
	background-size cover
	z-index -10
	// text-rendering: optimizeLegibility !important;
	// -webkit-font-smoothing: antialiased !important;

body
	position relative
	margin 0 auto

.navig
	position absolute
	position fixed
	width 100%
	height auto
	top 0
	left 0
	z-index 100
	
	.links
		position relative
		width auto
		height auto
		float right
		padding 1% 0 0.5% 0
		margin auto
		// box-shadow 0px 0px 1px 0px black
		// border-bottom-left-radius 15px
		// border-top-left-radius 15px
		overflow hidden
		opacity 0.85
		
		&:hover
			opacity 1
			
		.backgr
			position absolute
			top 0
			left 0
			// background-color #003ba1
			content ""
			width 100%
			height 100%
			opacity 0.4
			z-index -1
			
		ul
			li
				list-style none
				margin 0 10px
				display inline
				a
					color white
					font-weight bold
					padding 10px
					border-radius 7px
					font-size 120%
					outline none
					text-shadow 0px 1px 1px black
					&:hover
						text-decoration none
						box-shadow 0px 0px 2px 1px white

.home
	position relative
	margin 11% auto 10%
	color white
	width 50%
	max-width 550px
	// border-radius 35px
	overflow hidden
	// box-shadow 0px 0px 1px 0px black
	opacity 0.98
	
	.backgr
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		// background-image radial-gradient(ellipse farthest-corner at center, #FFFFFF 0%, #0057ed 100%)
		opacity 0.3
		z-index -1
		
	.header
		h1
			color #ff9100
			font-family 'Audiowide', verdana
			text-shadow 2px 1px 2px black
			z-index 10
			
	.titles
		h3
			display inline
			margin 0
			text-shadow 1px 1px 2px black
			// font-weight bold
			font-family 'Open Sans', verdana
			
	.social
		margin 4% 0 0 0
		padding-top 2%
		border-top 2px solid #ff9100
		// background-color rgba(255,255,255,0.6)
		font-size 0.8em
		ul
			margin 0% 0 0 0
			li
				list-style none
				display inline-block
				color red
				margin 5px 12px
				border-radius 10px
				a
					outline none
					span
						i
							float left
							padding-top 5%
							outline none
					&:hover
						outline none
						color #f07000

.projects
	position relative
	margin 30% auto 0
	background-color rgba(255,255,255,0.9)
	min-height 855px
	padding-top 4%
	.container
		width 92%
		max-width 1200px
		margin 0 auto
		.row
			margin 0 auto
			.proj-img
				.top-corner
					position absolute
					top -2px
					left -2px
					width 20%
					height 20%
					border-top 2px solid black
					border-left 2px solid black
				.bottom-corner
					position absolute
					bottom -2px
					right -2px
					width 20%
					height 20%
					border-bottom 2px solid black
					border-right 2px solid black
				.left-line
					position absolute
					top -2px
					left 10px
					width 40%
					height 40%
					border-top 2px solid black
				.right-line
					position absolute
					bottom -2px
					right 10px
					width 40%
					height 40%
					border-bottom 2px solid black
		.proj-item
			max-width 60%
			margin 7% auto
			padding 0% 0%
			h3
				color white
				text-shadow 1px 1px 2px black
			a
				outline none
			.proj-img
				position relative
				height 250px
				padding 10px
				opacity 0.9
				img
					height 100%
					width 100%
				&:hover
					opacity 1
					padding 0
					border 2px solid black
	.header
		position relative
		width 12%
		margin 0 auto 0
		h2
			color #ff9100
			font-family 'Audiowide', verdana
			text-shadow 2px 1px 2px black
			z-index 10
			padding 3%
	.hor-line
		width 150%
		border-bottom 2px solid black
	.ver-line
		position absolute
		top 0
		left 0
		content ""
		border-left 2px solid black
		height 130%
		width 100%
	.circle
		position absolute
		top -16px
		left -7px
		content ""
		border 2px solid black
		border-radius 20px
		height 16px
		width 16px

.contacts
	// background url('../pic/clouds6.jpg') no-repeat center center fixed
	height 855px
	color white
	margin 0px 0 0
	.header
		background-color rgba(0,0,0,0.7)
		border-top 2px solid white
		border-bottom 2px solid white
		h2
			color rgba(255,55,0,1)
			font-family 'Audiowide', verdana
			text-shadow 2px 1px 2px black
			z-index 10
			padding 3%
	.container
		.contact-form
			background-color rgba(255,55,55,0.7)
			color black
			max-width 500px
			margin 80px auto
			padding 30px 40px 10px
			label
				padding 0px 7px 0
	.footer
		background-color rgba(0,0,0,0.85)
		position absolute
		bottom 0
		left 0
		width 100%
		height 330px
		.social
			margin 0% 0 0 0
			font-size 1.2em
			padding 1% 0
			border-top 2px solid white
			border-bottom 2px solid white
			ul
				margin 0% 0 0 0
				li
					list-style none
					display inline-block
					color red
					margin 5px 12px
					border-radius 10px
					a
						color white
						outline none
						span
							i
								float left
								padding-top 5%
								outline none
						&:hover
							outline none
							color red

#name, #email, #message, #submit
	width 100%
	margin 0px 0px 10px
	padding 4px
	box-shadow 0px 0px 0px 1px red

#name:focus, #email:focus, #message:focus
	box-shadow 0px 0px 0px 1px black

#submit
	border-radius 0px


	
@media screen and (max-width: 770px)
	.home
		width 70%

@media screen and (max-width: 770px)
	.home
		.social
			ul
				li
					margin 5px 7px
	.projects
		.header
			width 50%
		.container
			.proj-item
				max-width 90%
	.contacts
		.footer
			.social
				ul
					li
						margin 5px 7px

@media screen and (max-width: 560px)
	.home
		width 95%
		h1
			font-size 28px
		.social
			ul
				li
					margin 5px 1px
	.projects
		.container
			.proj-item
				max-width 100%
	.contacts
		height 655px
		.footer
			height 180px
			.social
				font-size 0.8em
				ul
					li
						margin 5px 1px

@media screen and (max-width: 480px)
	.projects
		.container
			.proj-item
				.proj-img
					height 180px

